/* ----------------------------------- */
/* ----------- GENERAL CSS ----------- */
/* ----------------------------------- */

.say-hello {
    font-family: Roboto;
    color: rgb(108, 107, 107);
}

.name-row {
    font-family: Roboto;
    color: rgb(108, 107, 107);
}

.name {
    color: rgb(55, 107, 184);
}

.role {
    font-family: Roboto;
    color: rgb(115, 115, 115);
    font-weight: bold;
    background-color: rgba(55, 107, 184, 0.25);
    padding: 5px 10px;
    margin-top: 10px;
}

.button {
    height: 40px;
    border: 1px solid rgb(55, 107, 184);
    border-radius: 5px;
    background-color: rgb(219, 216, 216);
    margin: 40px 0 40px 0;
}

.button-link {
    font-family: Roboto;
    font-weight: 500;
    text-decoration: none;
    color: rgb(55, 107, 184);
    font-size: 18px;
}

.section-title {
    font-family: Roboto;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 5px;
    color: rgb(65, 64, 64);
    text-align: center;  
}

.description {
    font-family: Roboto;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: center;
    color: rgb(108, 107, 107);
    line-height: 30px;
}

.soft-skills-image-title {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 900;
    position: absolute;
    top: 50px;
    padding: 8px 8px 8px 120px;
    color: black;
    background-color: rgba(255, 228, 196, 0.6);
}

.soft-skills-text-container ul li {
    font-family: Roboto;
    letter-spacing: 1px;
    list-style-type: circle;
    color: rgb(108, 107, 107);
}

.hard-skills-image-title {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 900;
    color: black;
    background-color: rgba(255, 228, 196, 0.6);
    position: absolute;
    top: 190px;
    padding: 8px 8px 8px 60px;
}

.html-logo {
    width: 40px;
}

.css-logo {
    width: 50px;
    height: 50px;
}

.js-logo {
    width: 30px;
    height: 30px;
}

.angular-logo {
    width: 85px;
    height: 55px;
}

.node-logo {
    width: 35px;
    height: 35px;
}

.progress-bar-container {
    height: 15px;
    background-color: white;
    margin-left: 8px;
    display: flex;
    align-items: center;
    border: 0.1px solid black;
    border-radius: 7px;
}

.progress-bar {
    height: 10px;
    margin-left: 2px;
    background-color: rgba(55, 107, 184, 0.8);
    border-radius: 7px;
}

.progress-bar-html {
    width: 65%;
}

.progress-bar-css {
    width: 75%;
}

.progress-bar-js {
    width: 25%;
}

.progress-bar-angular {
    width: 5%;
}

.progress-bar-node {
    width: 5%;
}

.percentage {
    display: inline-block;
    font-weight: 600;
    margin-left: 2px;
}

.services-box1-description {
    position: absolute;
    color: white;
    font-family: Roboto;
    font-weight: 900;
    z-index: 3;
}

.services-box1-subdescription {
    position: absolute;
    color: rgb(198, 196, 196);
    font-family: Roboto;
    z-index: 3;
}

.services-box2-description {
    position: absolute;
    color: white;
    font-family: Roboto;
    font-weight: 900;
    z-index: 3;
}

.services-box2-subdescription {
    position: absolute;
    color: rgb(198, 196, 196);
    font-family: Roboto;
    z-index: 3;
}

.services-box3-container {
    display: flex;
    justify-content: center;
}

.services-box3 {
    display: inline;
    background-image: url("../images/programming1.png");
    background-size: cover;
    position: relative;
    border-radius: 15px;
}

.services-box3-first-row {
    color: white;
    font-family: Roboto;
    font-weight: 900;
    position: absolute;
}

.services-box3-second-row {
    font-family: Roboto;
    font-weight: 900;
    color: white;
    position: absolute;
}

.services-box3-subdescription {
    font-family: Roboto;
    color: rgb(198, 196, 196);
    position: absolute;
}


/* ----------------------------------- */
/* ---------- DESKTOP STYLE ---------- */
/* ----------------------------------- */

@media screen and (min-width: 901px) and (max-width: 3000px) {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .header-container {
        width: 100%;
        height: 90px;
        display: flex;
        flex-direction: row;
        background-image: linear-gradient(to top right, white 10%, rgb(55, 107, 184) 100%);
        padding-top: 30px;
    }

    .list-item-mobile {
        display: none;
    }

    .menu-list,
    .list-mobile {
        margin-left: 10px;
    }

    .menu-item {
        display: inline;
        margin-right: 35px;
    }

    .desktop-left-menu-item {
        margin-left: 50px;
    }

    .menu-item a {
        font-family: Roboto;
        font-size: 18px;
        text-decoration: none;
        color: white;
    }

    .menu-item a:hover {
        color: rgb(55, 107, 184);
        opacity: 1;
        font-size: 23px;
        transition: opacity 0.5s, font-size 0.5s;
    }

    .first-section-container {
        background-color: rgba(215, 212, 212, 0.95);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .picture-container {
        margin-right: 100px;
        margin-left: 50px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .my-picture {
        width: 500px;
        height: 500px;
        opacity: 0.65;
        object-fit: cover;
        border-radius: 700px;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .say-hello {
        font-size: 35px;
        padding-top: 100px;
    }

    .name-row {
        font-size: 80px;
    }

    .name {
        color: rgb(55, 107, 184);
    }
    
    .role {
        font-size: 35px;
    }

    .hire-button-container {
        display: flex;
        justify-content: center;
    }

    .hire-button {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .hire-button:hover {
        background-color: rgb(55, 107, 184);
        transition: background-color 0.5s;
    }

    .hire-button:hover a {
        color: white;
    }

    .hire-button-link {
        padding: 30px 83px;
    }
    
    /* ------------ Generic CSS applicable to multiple items for code optimization ------------ */

    .section {
       width: 100%;
       max-width: 1800px;
    }

    .section-title {
        font-size: 40px;
    }

    .title-line {
        width: 150px;
        height: 5px;
        background-color: orange;
    }

    .description-container {
        margin-right: 30px;
        margin-left: 100px;
    }

    .description {
        font-size: 22px;
    }

    .button {
        min-width: 40%;
    }

    /*----------------- "Who am I" section -----------------*/

    .second-section-container {
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-shrink: 0;
        padding: 200px 20px;
        position: relative;
    }

    .question-mark-container {
        margin-left: 70px;
        margin-right: 20px;
        position: relative;
        padding: 80px; 
    }

    .who {
        position: absolute;
        top: 245px;
        left: -40px;
    }

    .who-line-container {
        height: 5px;
        width: 100px;
        position: absolute;
        top: 300px;
        left: 30px;
    }

    .who-line {
        width: 100%;
        height: 100%;
        background-color: orange;
    }

    .question-mark {
        max-width: 250px;
        min-width: 180px;
        opacity: 0.3;
    }

    .second-section-text-container {
        text-align: center;
        max-width: 700px;
        min-width: 500px;
        margin-right: 40px;
    }

    .cv-button {
        background-color: white;
    }

    .cv-button:hover {
        background-color: rgb(55, 107, 184);
        transition: background-color 0.5s;
    }

    .cv-button:hover a {
        color: white;
    }

    .cv-download-link {
        text-decoration: none;
        padding: 30px 56px;
    }

    /*----------------- "My skills" section -----------------*/

    .skills-image-presentation-box {
        display: inline-block;
    }

    .skills-image {
        width: 100%;
        height: auto;
    }

    .skills-title-box {
        background-color: rgba(215, 212, 212, 0.95);
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .skills-title {
        margin-bottom: 5px;
    }

    .skills-section {
        background-color: rgba(215, 212, 212, 0.95);
    }

    .skills-background {
        height: 700px;
        display: flex;
        justify-content: center;
    }

    .skills-line-container {
        display: flex;
        justify-content: center;
    }

    .skills-description {
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .skills-box-container {
        display: flex;
        justify-content: center; 
    }

    .skills-box1-container {
        width: 550px;
        height: auto;
        margin-right: 20px;
        border: 3px solid bisque;
        border-radius: 6px;
        margin-bottom: 100px;
        margin-left: 40px;
    }

    .skills-box1-image-container {
        width: 100%;
        height: 350px;
        position: relative;
        border-bottom: 3px solid bisque; 
    }

    .soft-skills-image {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .soft-skills-description {
        padding: 0 40px 0 40px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .soft-skills-text-container ul {
        margin-left: 90px;
    }

    .soft-skills-text-container ul li {
        font-size: 22px;
        margin-top: 25px;
        list-style-type: circle;
    }

    .skills-box2-container {
        width: 550px;
        height: auto;
        border: 3px solid bisque;
        border-radius: 6px;
        margin-left: 20px;
        margin-bottom: 100px;
        margin-right: 40px;
    }

    .skills-box2-image-container {
        width: 100%;
        height: 350px;
        position: relative;
        border-bottom: 3px solid bisque;
    }

    .hard-skills-immage {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .hard-skills-description {
        padding: 0 40px 0 40px;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .hard-skills-general-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top {
        margin-top: 20px;
    }

    .down {
        margin-bottom: 40px;
    }

    .competence-logo-container {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
    }

    .progress-bar-container {
        width: 50%;
        display: flex;
        margin-right: 50px;
    }

    .percentage {
        font-size: 12px;
    }

    /*----------------- "Services" section-----------------*/

    .services-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
    }

    .services-title {
        padding-top: 30px;
    }

    .services-line-container {
        display: flex;
        justify-content: center;
    }

    .services-description-container {
        display: flex;
        justify-content: center;
    }

    .services-description {
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .services-box-container {
        display: flex;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .services-box1-container {
        width: 600px;
        height: 350px;
        margin-right: 10px;
    }

    .services-box2-container {
        width: 600px;
        height: 350px;
        margin-left: 10px;
    }

    .services-box1 {
        border-radius: 25px;
        width: 100%;
        height: 100%;
        position: relative;
        background-image: url("../images/consulting.png");
        background-size: cover;
    }

    .services-box1-description {
        top: 40px;
        left: 50px;
        font-size: 35px;
    }

    .services-box1-subdescription {
        top: 90px;
        left: 50px;
        font-size: 23px;
        width: 60%;
    }

    .services-box2-description {
        top: 40px;
        left: 50px;
        font-size: 35px;
    }

    .services-box2-subdescription {
        top: 90px;
        left: 50px;
        font-size: 23px;
        width: 60%;
    }

    .opaco-services-box1 {
        width: 100%;
        height: 100%;
        background-color: rgb(55, 107, 184);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.85;
        border-radius: 15px;
    }

    .services-box2 {
        border-radius: 15px;
        width: 100%;
        height: 100%;
        position: relative;
        background-image: url("../images/consulting1.jpg");
        background-size: cover;
    }

    .opaco-services-box2 {
        width: 100%;
        height: 100%;
        background-color: rgb(253, 74, 74);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.75;
        border-radius: 15px;
    }

    .opaco-services-box3 {
        width: 100%;
        height: 100%;
        background-color: orange;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.65;
        border-radius: 15px;
    }

    .services-box3-container {
        margin-bottom: 80px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .services-box3 {
        margin-top: 20px;
        width: 1220px;
        height: 700px;
    }

    .services-box3-first-row {
        font-size: 40px;
        top: 80px;
        left: 50px;
        z-index: 3;
    }

    .services-box3-second-row {
        color: white;
        font-family: Roboto;
        font-weight: 900;
        font-size: 40px;
        position: absolute;
        top: 140px;
        left: 50px;
        z-index: 3;
    }

    .services-box3-subdescription {
        top: 190px;
        left: 50px;
        font-size: 23px;
        z-index: 3;
        width: 40%;
    }

    /*----------------- "Projects" section -----------------*/

    .projects-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(215, 212, 212, 0.95);
    }

    .projects-title {
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .projects-line-container {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .projects-box-container {
        text-align: center;
        margin-bottom: 50px;
    }

    .projects-description-container {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .projects-description {
        margin-bottom: 50px;
    }

    .work-in-progress-image {
        padding: 100px;
        width: 700px;
    }

    /*----------------- "Contacts" section -----------------*/

     .contacts-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;  
    }

    .contacts-title {
        margin-top: 50px;
        margin-bottom: 5px;
    }

    .contacts-line-container {
        display: flex;
        justify-content: center;
    }

    .contacts-description {
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .contacts-add {
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .form-container {
        display: flex;
        justify-content: center;
    }

    .form-box {
        width: 50%;
        height: 800px;
        border: 5px solid green;
        display: flex;
        justify-content: center;
    }

    .contacts-form {
        background-color: rgba(55, 107, 184, 0.25);
        border: 1px solid #D6D9DC;
        border-radius: 3px;
        width: 60%;
        padding: 50px 0 50px 50px;
    }

    .form-row {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .form-row input[type='text'] {
        width: 250px;
        height: initial;
        font-size: 15px;
        border: 1px solid rgba(55, 107, 184, 0.6);
        padding: 5px;
    }

    .form-row input[type='email'] {
        width: 250px;
        height: initial;
        font-size: 15px;
        border: 1px solid rgba(55, 107, 184, 0.6);
        padding: 5px;
    }

    .form-row label {
        font-family: Roboto;
        font-size: 16px;
        text-align: right;
        width: 160px;
        padding-right: 20px;
        padding-top: 4px;
    }

    .form-row textarea {
        width: 380px;
        font-family: Roboto;
        font-size: 18px;
        padding: 3px;
        margin-right: 30px;
    }

    .form-row button {
        padding: 15px 50px;
        font-family: 'Roboto';
        font-size: 18px;
        letter-spacing: 1px;
        background-color: transparent;
        color: white;
        font-weight: bold;
        border: 1px solid rgba(55, 107, 184, 0.35);
        margin-top: 25px;
        margin-left: 160px;
    }

    .linkedin-container {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .github-container {
        width: 40px;
        height: 40px;
        border: 3px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 35px;
        margin-right: 20px;
    }

    .instagram-container {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 35px;
        margin-right: 20px;
    }

    .skype-container {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 35px;
    }

    .instagram {
        width: 40px;
        height: 40px;
        border-radius: 18px;
    }

    .skype {
        width: 45px;
        height: 45px;
    }

    .linkedin {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 20px;
    }

    .github-container img {
        width: 40px;
    }

    .socials-container {
        display: flex;
        justify-content: center;
        padding-bottom: 80px;
    }

    .footer {
        background-color: rgb(67, 66, 66);
        width: 100%;
    }

    .footer-description {
        text-align: center;
        color: white;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}


@media screen and (min-width: 901px) and (max-width: 1100px) {

    .question-mark {
        width: 180px;
        opacity: 0.3;
    }

    .who {
        position: absolute;
        top: 200px;
        left: -35px;
        font-size: 35px;
    }

    .section-title {
        font-size: 30px;
    }

    .title-line {
        width: 120px;
        height: 5px;
        background-color: orange;
    }

    .who-line-container {
        height: 5px;
        width: 100px;
        position: absolute;
        top: 245px;
        left: 0px;
    }

    .second-section-text-container {
        text-align: center;
        max-width: 600px;
        min-width: 400px;
        margin-right: 40px;
    }

    .form-row textarea {
        width: 280px;
    }

    .name-row {
        font-size: 50px;
    }

    .role {
        font-size: 25px;
    }

    .picture-container {
        margin-right: 10px;
    }

    .my-picture {
        width: 350px;
        height: 350px;
        border-radius: 700px;
    }

    .description {
        font-size: 20px;
    }
}


@media screen and (min-width: 1101px) and (max-width: 1350px) {

    .name-row {
        font-size: 54px;
    }

    .role {
        font-size: 28px;
    }

    .picture-container {
        margin-right: 50px;
    }

    .my-picture {
        width: 400px;
        height: 400px;
        border-radius: 700px;
    }
}



/* ----------------------------------- */
/* ---------- MOBILE STYLE ---------- */
/* ----------------------------------- */

@media screen and (min-width: 100px) and (max-width: 900px) {
    
    body {
        background-color: white;
    }
    
    .header-container {
        height: 60px;
        background-image: linear-gradient(to top right, white 10%, rgb(55, 107, 184) 100%);
        position: relative;
    }

    .list-item-pc {
        display: none;
    }

    .list-mobile {
        display: none;      
    }
    
    .list-item-mobile {
        list-style: none;
        margin-right: 50px;
        padding-left: 0;
        padding-right: 50px;
        padding-bottom: 3px;
        padding-top: 25px;
    }

    .list-item-mobile:hover .list-mobile {
        background-color: rgba(55, 107, 184, 0.5);
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        padding-right: 5px;
        border: 1px solid rgb(174, 171, 171);
        position: absolute;
        top: 20px;
        left: 32px;
        z-index: 3;
    }

    .menu-item {
       border-bottom: 1px solid rgb(174, 171, 171);
    }

    .menu-item a {
        color: white;
        text-decoration: none;
        font-family: Roboto;
    }

    .first-section-container {
        background-color: rgba(215, 212, 212, 0.95);
        width: 100%;
        text-align: center;
     }

    .picture-container { 
        display: inline-block; 
        padding-top: 70px; 
        padding-bottom: 30px;
    }
    
    .my-picture {
        width: 250px;
        height: 250px;
        opacity: 0.65;
        object-fit: cover;
        border-radius: 500px;
    }

    .say-hello {
        font-size: 25px;
        margin-bottom: 3px;
    }

    .name-row {
        font-size: 34px;
    }

    .name {
        font-family: "Roboto";
        font-size: 34px;
        color: rgb(55, 107, 184);   
    }

    .role { 
        display: inline-block;
        font-size: 20px;
    }

    .hire-button-link {    
        padding: 28px;
    }

    .hire-button {
        background-color: rgb(219, 216, 216);
    }

    /* ------------ Generic CSS applicable to multiple items for code optimization ------------ */

    .section-title {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .description {  
        font-size: 18px;
        padding: 20px 30px 20px 30px;
    }

    .button {
        width: 150px;
    }

    /*----------------- "Who am I" section -----------------*/

    .second-section-container {
        background-color: white;
        text-align: center;      
    }

    .question-mark-container {  
        position: relative; 
        padding-top: 70px;
        display: inline-block;
    }

    .who { 
        position: absolute;
        top: 50%;
        left: -25%;
    }

    .who-line-container {
        height: 5px;
        width: 130px;
        position: absolute;
        top: 57%;
        left: -10%;
    }

    .who-line {
        width: 50%;
        height: 100%;
        background-color: orange;   
    }

    .question-mark {
        max-width: 180px;
        opacity: 0.3;
    }

    .cv-button {
        background-color: white;
        margin-top: 5px;
    }

    .cv-download-link {
        padding: 5px;
    }

    /*----------------- "My skills" section -----------------*/


    .skills-image-presentation-box {
        position: relative;
        display: inline-block;
    }

    .skills-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .skills-title {
        padding-top: 30px;
    }

    .skills-section {
        background-color: rgba(215, 212, 212, 0.95);
    }

    .skills-background {
        width: 100%;
        height: 250px;
        position: relative;
    }

    .skills-line-container {
        display: flex;
        justify-content: center;   
    }

    .skills-line {
        width: 80px;
        height: 5px;
        background-color: orange;
    }

    .skills-box-container {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .skills-box1-container {
        width: 95%;
        height: auto;
    }

    .skills-box1-image-container {
        width: 100%;
        position: relative;
    }

    .soft-skills-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        
    }

    .soft-skills-image-title {
        position: absolute;
        top: 30px;
        padding: 8px 8px 8px 60px;
    }

    .soft-skills-description {
        margin-bottom: 10px;   
    }

    .soft-skills-text-container ul {
        display: block;
        margin-left: 40px;
        margin-bottom: 40px;
    }

    .soft-skills-text-container ul li {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .skills-box2-container {
        width: 95%;
        height: auto;
    }

    .skills-box2-image-container {
        width: 100%;
        position: relative;
    }

    .hard-skills-immage {
        width: 100%;
        height: auto;  
    }

    .hard-skills-general-container {        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top {
        margin-top: 20px;
    }

    .down {
        margin-bottom: 40px;
    }

    .competence-logo-container {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .progress-bar-container {
        width: 55%;
        display: flex;
        margin-right: 20px;
    }

    .percentage {
        font-size: 10px;
    }    

     /*----------------- "Services" section-----------------*/

     .services-section {
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .services-title {
        padding-top: 10px;
    }

    .services-line-container {
        display: flex;
        justify-content: center;
    }

    .services-line {
        width: 80px;
        height: 5px;
        background-color: orange;    
    }

    .services-description-container { 
        margin-bottom: 20px;
    }

    .services-box-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services-box1-container {
        width: 90%;
        height: 280px;
        margin-bottom: 20px;
    }

    .services-box2-container {
        width: 90%;
        height: 280px;
        margin-bottom: 20px;
    }

    .services-box1 {
        border-radius: 25px;
        width: 100%;
        height: 100%;
        position: relative;
        background-image: url("../images/consulting.png");
        background-size: cover;
    }

    .services-box1-description {
        top: 15px;
        left: 30px;
        font-size: 30px;
    }

    .services-box1-subdescription {
        top: 70px;
        left: 30px;
        font-size: 18px;
        width: 70%;
    }

    .services-box2-description {
        top: 15px;
        left: 30px;
        font-size: 30px;
    }

    .services-box2-subdescription {
        top: 70px;
        left: 30px;
        font-size: 18px;
        width: 70%;
    }

    .opaco-services-box1 {
        width: 100%;
        height: 100%;
        background-color:  rgb(55, 107, 184);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.85;
        border-radius: 15px;
    }

    .services-box2 {
        border-radius: 15px;
        width: 100%;
        height: 100%;
        position: relative;
        background-image: url("../images/consulting1.jpg");
        background-size: cover;
    }

    .opaco-services-box2 {
        width: 100%;
        height: 100%;
        background-color: rgb(253, 74, 74);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.75;
        border-radius: 15px;
    }

    .opaco-services-box3 {
        width: 100%;
        height: 100%;
        background-color: orange;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.55;
        border-radius: 15px;
    }

    .services-box3-container {
        margin-bottom: 40px;
    }

    .services-box3 {
        width: 90%;
        height: 350px;
        border-radius: 15px;
    }

    .services-box3-first-row {
        font-size: 30px;
        top: 15px;
        left: 30px;
        z-index: 3;
    }

    .services-box3-second-row {
        font-family: Roboto;
        font-weight: 900;
        font-size: 30px;
        color: white;
        position: absolute;
        top: 50px;
        left: 30px;
        z-index: 3;    
    }

    .services-box3-subdescription {
        top: 100px;
        left: 30px;
        font-size: 18px;
        z-index: 3;
        width: 70%;
    }

    /*----------------- "Projects" section -----------------*/

    .projects-section {
        background-color: rgba(215, 212, 212, 0.95);
    }

    .projects-title {
        padding-top: 30px;
    }

    .projects-line-container {
        display: flex;
        justify-content: center;
    }

    .projects-line {
        width: 70px;
        height: 5px;
        background-color: orange;
    }

    .projects-box-container {
        text-align: center;    
    }

    .projects-description {
        padding-bottom: 40px;
    }

    .work-in-progress-image {
        width: 60%;
        padding: 35px 60px 15px 60px;
    }

    /*----------------- "Contacts" section -----------------*/


    .contacts-section {
        background-color: white;      
    }

    .contacts-title {
        padding-top: 30px;
    }

    .contacts-line-container {
        display: flex;
        justify-content: center;
    }

    .contacts-line {
        width: 80px;
        height: 5px;
        background-color: orange;
    }

    .form-container {
        display: flex;
        justify-content: center;
    }

    .form-box {
        width: 50%;
        height: 800px;
        border: 5px solid green;
        display: flex;
        justify-content: center;
    }

    .contacts-form {
        background-color: rgba(55, 107, 184, 0.25);
        border: 1px solid #D6D9DC;
        border-radius: 3px;
        width: 95%;
        padding: 50px 45px;
    }

    .form-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .form-row input[type='text'] {
        width: 100%;
        height: initial;
        font-size: 15px;
        border: 1px solid rgba(55, 107, 184, 0.6);
        padding: 5px;
    }

    .form-row input[type='email'] {
        width: 100%;
        height: initial;
        font-size: 15px;
        border: 1px solid rgba(55, 107, 184, 0.6);
        padding: 5px;
    }

    .form-row label {
        font-family: Roboto;
        font-size: 16px;
        text-align: left;
        width: 100%;
        margin-bottom: 5px;
    }

    .form-row textarea {
        width: 100%;
        font-family: Roboto;
        font-size: 18px;
        padding: 3px;
    }

    .form-row button {
        padding: 15px 50px;
        font-family: 'Roboto';
        font-size: 18px;
        letter-spacing: 1px;
        background-color: transparent;
        color: white;
        font-weight: bold;
        border: 1px solid rgba(55, 107, 184, 0.35);
        margin-top: 25px;
    }

    .linkedin-container {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .github-container {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }

    .instagram-container {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 35px;
        margin-right: 20px;
    }

    .skype-container {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 35px;
        border: 1px solid black;
    }

    .instagram {
        width: 40px;
        height: 40px;
        border-radius: 18px;
    }

    .skype {
        width: 45px;
        height: 45px;   
    }

    .linkedin {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 20px;
    }

    .github-container img {
        width: 40px;
    }

    .socials-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .footer {
        background-color: rgb(67, 66, 66);
    }

    .footer-description {
        text-align: center;
        color: white;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer-description span {
        text-decoration: none;
        color: white;
    }
}